@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
    --spotlight: 138 100% 10%;

    --background: 138 100% 5%;
    --foreground: 240 100% 98.6%;

    --primary: 138 50% 50%;
    --primary-foreground: 340 76% 100%;

    --accent: 138 100% 80%;
    --accent-foreground: 138 100% 20%;
  }

  :focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: hsl(var(--accent));
  }

  button {
    cursor: pointer;
  }
}
