@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 30 33% 5%;
    --border: 0 0% 90.3%;

    --card: 353 10% 93%;
    --card-foreground: 26 5% 27%;

    --primary: 39.66 100% 76.86%;
    --primary-foreground: 39.66 100% 76.86%;

    --ring: var(--primary);
    --input: var(--accent);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 0%;
      --foreground: 240 100% 98.6%;

      --border: 242 4.9% 16.5%;

      --card: 60 3% 6.5%;
      --card-foreground: 240 4% 75.5%;

      --primary: 39.66 100% 76.86%;
      --primary-foreground: 39.66 100% 76.86%;
    }
  }
}

@layer base {
  :disabled {
    cursor: not-allowed;
  }

  button {
    cursor: pointer;
  }
}
